/*
RIGHTBAR
*/
.rightbar{
    flex: 1;
    padding: 20px 0px;
    max-width: 275px;
}

.rightbar .search-box{
    margin: 10px 0px;
}
.rightbar .search-box .qry{
    flex: 1;
    border: 0px;
    padding: 15px;
    background: #f1f1f1;
    margin-right: 10px;
    border-radius: 5px;
}
.rightbar .search-box .qry:focus{
    background: #e0e0e0;
}
.rightbar .search-box .go{
    border: 0px;
    background: #ea5252;
    padding: 0px 20px;
    border-radius: 5px;
}
.rightbar .search-box .go:hover{
    background: #d24444;
}
.rightbar .courses{
    flex-direction: column;
}
.rightbar .courses .cols{
    flex-direction: row;
}
.rightbar .course-a .block{
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
}
.rightbar .courses .cols .block{
    height: 290px;
}

.rightbar .special-offer{
    background: #e5fcfb;
    height: 185px;
    margin-top: 14px;
    border-radius: 20px;
    overflow: hidden;
}
.rightbar .special-offer .meta{
    padding: 30px;
    flex: 1;
    z-index: 2;
}
.rightbar .special-offer .meta .h1{color: #ea5252;}
.rightbar .special-offer .meta .h2{
    margin-top: 6px;
    color: #06a9a2;
}
.rightbar .special-offer .meta button{
    background: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 14px 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.rightbar .special-offer .meta button:hover{
    background: #ea5252;
    color: white;
}
.rightbar .special-offer .vector{
    padding-top: 30px;
    width: 150px;
    z-index: 2;
}
.rightbar .special-offer .vector img{}
.rightbar .special-offer .ring{
    width: 100px;
    height: 100px;
    background: #90e6e3;
    border-radius: 100%;
    right: -90px;
    top: 50%;
    transform: translateY(-50%);
    border: 40px rgba(255, 255, 255, 0.45) solid;
}